<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
    <title> CodingForEntrepeneurs - Justin Mitchel Tutorial - Try Django 3.2  </title>
  </head>
  <body>
    <h1>Hello World</h1>
    {% include "search/search-form.html" %}

    {% block content %}

    {% endblock %}

    <script type="text/javascript">
    // hx-headers='{"X-CSRFToken": "{{ csrf_token }}" }'
    // alternative 
      document.body.addEventListener('htmx:configRequest', (event) =>{
          event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}'
      })
    </script>
  </body>
</html>
