{% extends "base.html" %}

{% block content %}




{% if message %}
  <p>{{ message }}</p>
{% endif %}


<form class="" action="#" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  {% if ingredient_formset %}
  <h3>Ingredients</h3>
    <hr>
    {{ ingredient_formset.management_form }}
    {% for form in ingredient_formset %}
      <div class="ingredient-form">
        {{ form }}
      </div>
      <hr>
    {% endfor %}

  {% endif %}
  <button type="submit" name="button">Save</button>
</form>




{% endblock %}
